.carousel-indicators{
    position: absolute; /*posicion fija*/
    bottom: -50px; /* ajuste de indicador hacia abajo de la imagen */

    [data-bs-target]{
        background-color: rgb(113, 15, 187); /*color cafe para mi indicador*/
    }
}