body { /*Fondo*/
    background: radial-gradient( #c37bff, #f480ff, #ffffff, #7bc1ff, rgb(127, 255, 227)); /* Gradiente de 4 colores */
    min-height: 100vh;
    margin: 0;
  
}

#formularioContacto {
  border: none;
  border-radius: 30px;
  margin: 70px;
  padding-top: 50px;
  background-color: rgb(212, 173, 251);


}