body { /*Fondo*/
    background: radial-gradient( #c37bff, #f480ff, #ffffff, #7bc1ff, rgb(127, 255, 227)); /* Gradiente de 4 colores */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilo de Accesorios*/

#presentAccesorios { /*Estilo accesorios inicio*/
  border-radius: 30px; /* da borden redondo */
  background-color: rgb(217, 170, 255);
  color: black;
}

/*Estilo de Cosmeticos*/

#presentCosmeticos{ /*Estilo cosmeticos inicio*/
  border-radius: 30px; /* da borden redondo */
  background-color: rgb(255, 170, 248);
  color: black;
}

/*Estilo de vestuario*/

#presentVestuario{ /*Estilo vestuario inicio*/
  border-radius: 30px; /* da borden redondo */
  background-color: rgb(170, 203, 255);
  color: black;
}

/*Estilo botones*/
.boton-categoria {
  margin: 10px ;
  background-color: magenta;
  border: none;
  border-radius: 25px;
  width: 150px;
  box-shadow:0px 5px 20px rgb(45, 44, 44) ;
}

.boton-categoria:hover {
  background-color: #7bc1ff;
  border-radius: 25px;
  
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #c17bff;
  border-radius: 25px;
  border: 2px solid rgb(124, 13, 203);
}

/*Estilos en las cartas de productos*/

.producto{
  border-radius: 10px;
  margin: 20px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(226, 163, 218);
  width: auto;
  box-shadow: 4px 4px 5px rgb(130, 69, 187);
}

.producto-imagen{
  width: 200px;
  height: 200px;
  margin: 20px;
}

.producto-agregar {
    border: 0;
    background-color: white;
    width: 80%;
    height: 40%;
    margin-bottom: 30px;
    color: black;
    padding: auto;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: transparent;
    color: white;
}

.producto-titulo {
  color: white;
  font-size: 30px;
}

.producto-precio {
  color: white;
  font-size: 30px;
}

#btnSubir { /*Boton subir*/
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el borde inferior */
  right: 20px;  /* Ajusta la distancia desde el borde derecho */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

